<section class="filter">
  <img class="filter__wrapper" src="./img/fon%202.jpg" alt="">
  <div class="container">
    <div class="filter__container">
      <div class="filter__head">
        <h2 class="filter__head-title">Сотрудничество начинается с доверия</h2>
        <p class="filter__head-desc">«Траст» входит в состав Российской Гильдии Риэлторов.
          Стандарты качества услуг компании сертифицированы,
          деятельность застрахована.</p>
      </div>
      <div class="filter__choice">
        <form>
          <ul class="list-reset filter__choice-main">
            <li class="filter__choice-main-dropdown">
              <div class="filter__choice-main-dropdown-text">
                <p>Квартира в новостройке</p>
                <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M4.99989 4.50844L8.6708 0.837519C8.8983 0.610019 9.26814 0.610019 9.49564 0.837519C9.72314 1.06502 9.72314 1.43485 9.49564 1.66235L5.4123 5.74569C5.1848 5.97377 4.81497 5.97377 4.58747 5.74569L0.504136 1.66235C0.276636 1.43485 0.276636 1.06502 0.504136 0.837518C0.731636 0.610018 1.10147 0.610018 1.32897 0.837518L4.99989 4.50844Z"
                    fill="#B7B7B7"/>
                </svg>
              </div>
              <div class="filter__choice-main-dropdown-checkbox">
                <div class="filter__choice-main-dropdown-checkbox-radio">
                  <input name="vid"  id="vid1" type="radio" checked value="zhilaya">
                  <label  for="vid1" class="filter__choice-main-dropdown-checkbox-radio-item">
                    Жилая</label>
                  <input name="vid" id="vid2" type="radio" value="commerce">
                  <label for="vid2" class="filter__choice-main-dropdown-checkbox-radio-item">
                    Коммерческая</label>
                </div>
                <div class="filter__choice-main-dropdown-checkbox-check">
                  <input type="checkbox" id="check1" value="Квартира в новостройке">
                  <label for="check1">Квартира в новостройке</label>
                  <input type="checkbox" id="check2" value="Квартира во вторичке">
                  <label for="check2">Квартира во вторичке</label>
                </div>
                <div class="filter__choice-main-dropdown-checkbox-check">
                  <input type="checkbox" id="check3" value="Комната">
                  <label for="check3">Комната</label>
                  <input type="checkbox" id="check4" value="Доля">
                  <label for="check4">Доля</label>
                </div>
                <div class="filter__choice-main-dropdown-checkbox-check">
                  <input type="checkbox" id="check5" value="Дом или дача">
                  <label for="check5">Дом или дача</label>
                  <input type="checkbox" id="check6" value="Часть дома">
                  <label for="check6">Часть дома</label>
                  <input type="checkbox" id="check7" value="Таунхаус">
                  <label for="check7">Таунхаус</label>
                  <input type="checkbox" id="check8" value="Участок">
                  <label for="check8">Участок</label>
                </div>
              </div>

            </li>
            <li class="filter__choice-main-dropdown">
              <div class="filter__choice-main-dropdown-text">
                <p>Комнатность</p>
                <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M4.99989 4.50844L8.6708 0.837519C8.8983 0.610019 9.26814 0.610019 9.49564 0.837519C9.72314 1.06502 9.72314 1.43485 9.49564 1.66235L5.4123 5.74569C5.1848 5.97377 4.81497 5.97377 4.58747 5.74569L0.504136 1.66235C0.276636 1.43485 0.276636 1.06502 0.504136 0.837518C0.731636 0.610018 1.10147 0.610018 1.32897 0.837518L4.99989 4.50844Z"
                    fill="#B7B7B7"/>
                </svg>
              </div>
              <div class="filter__choice-main-dropdown-checkbox-num">
                <div class="filter__choice-main-dropdown-checkbox-num-radio">
                  <input name="kv"  id="vid3" type="radio" checked value="1">
                  <label  for="vid3" class="filter__choice-main-dropdown-checkbox-num-radio-item">
                    1</label>
                  <input name="kv" id="vid4" type="radio" value="2">
                  <label for="vid4" class="filter__choice-main-dropdown-checkbox-num-radio-item">
                    2</label>
                  <input name="kv"  id="vid5" type="radio"value="3">
                  <label  for="vid5" class="filter__choice-main-dropdown-checkbox-num-radio-item">
                    3</label>
                  <input name="kv" id="vid6" type="radio" value="4">
                  <label for="vid6" class="filter__choice-main-dropdown-checkbox-num-radio-item">
                    4</label>
                  <input name="kv"  id="vid7" type="radio"value="5">
                  <label  for="vid7" class="filter__choice-main-dropdown-checkbox-num-radio-item">
                    5</label>
                </div>
                <div class="filter__choice-main-dropdown-checkbox-num-check">
                  <input type="checkbox" id="check9" value="Студия">
                  <label for="check9">Студия</label>
                  <input type="checkbox" id="check10" value="Свободная планировка">
                  <label for="check10">Свободная планировка</label>
                </div>
              </div>

            </li>
            <li class="filter__choice-main-dropdown">
              <div class="filter__choice-main-dropdown-text">
                <p>2,3 — 4,7 млн</p>
                <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M4.99989 4.50844L8.6708 0.837519C8.8983 0.610019 9.26814 0.610019 9.49564 0.837519C9.72314 1.06502 9.72314 1.43485 9.49564 1.66235L5.4123 5.74569C5.1848 5.97377 4.81497 5.97377 4.58747 5.74569L0.504136 1.66235C0.276636 1.43485 0.276636 1.06502 0.504136 0.837518C0.731636 0.610018 1.10147 0.610018 1.32897 0.837518L4.99989 4.50844Z"
                    fill="#B7B7B7"/>
                </svg>
              </div>
              <div class="filter__choice-main-dropdown-checkbox-price">
                <div class="filter__choice-main-dropdown-checkbox-price-check">
                  <div class="filter__choice-main-dropdown-checkbox-price-check-input">
                    <input type="text" id="check11" placeholder="От" value=""><span>₽</span>
                  </div>
                  <div class="filter__choice-main-dropdown-checkbox-price-check-input">
                    <input type="text" id="check12" placeholder="До" value="4 700 000"><span>₽</span>
                  </div>
                </div>
              </div>
            </li>
            <li class="filter__choice-main-dropdown">
              <select class="filter__choice-main-dropdown-select" name="region" id="region">
                <option selected="selected" disabled>Район, улица, дом или ЖК </option>
                <option disabled>Адрес</option>
                <option>Железнодорожников, 7,</option>
                <option>Картымский Железнодорожная, 21,</option>
                <option>Винзили Железнодорожников, 3,</option>
                <option>Картымский Железнодорожников, 4,</option>
                <option>Картымский Железнодорожников, 6,</option>
                <option disabled>Район</option>
                <option>Железнодорожников, 7,</option>
                <option>Картымский Железнодорожная, 21,</option>
                <option>Винзили Железнодорожников, 3,</option>
                <option>Картымский Железнодорожников, 4,</option>
                <option>Картымский Железнодорожников, 6,</option>
                <option disabled>Жилой комплекс</option>
                <option>Железнодорожников, 7,</option>
                <option>Картымский Железнодорожная, 21,</option>
                <option>Винзили Железнодорожников, 3,</option>
                <option>Картымский Железнодорожников, 4,</option>
                <option>Картымский Железнодорожников, 6,</option>
              </select>
            </li>
            <button class="btn-reset btn-background">Поиск</button>
          </ul>
        </form>
      </div>
      <div class="filter__services">
        <a href="" class="filter__services-item">
          <img class="filter__services-item-wrapper" src="./img/check%201.png" alt="">
          <div class="filter__services-item-content">
            <h3 class="filter__services-item-title">Ипотека онлайн</h3>
            <p class="filter__services-item-desc">Поможем получить одобрение банков, чтобы вы могли</p>
            <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M0.459793 6.75H10.0818L5.43459 10.9512L6.59559 12L13.2373 6L6.59559 9.53674e-07L5.43459 1.04883L10.0818 5.25H0.459793V6.75Z"
                fill="white"/>
            </svg>
          </div>
        </a>
        <a href="" class="filter__services-item">
          <img class="filter__services-item-wrapper" src="./img/reverse%201.png" alt="">
          <div class="filter__services-item-content">
            <h3 class="filter__services-item-title">Поменяем на новую</h3>
            <p class="filter__services-item-desc">Поможем получить одобрение банков, чтобы вы могли</p>
            <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M0.459793 6.75H10.0818L5.43459 10.9512L6.59559 12L13.2373 6L6.59559 9.53674e-07L5.43459 1.04883L10.0818 5.25H0.459793V6.75Z"
                fill="white"/>
            </svg>
          </div>
        </a>
        <a href="" class="filter__services-item">
          <img class="filter__services-item-wrapper" src="./img/display%201.png" alt="">
          <div class="filter__services-item-content">
            <h3 class="filter__services-item-title">Оценка стоимости</h3>
            <p class="filter__services-item-desc">Поможем получить одобрение банков, чтобы вы могли</p>
            <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M0.459793 6.75H10.0818L5.43459 10.9512L6.59559 12L13.2373 6L6.59559 9.53674e-07L5.43459 1.04883L10.0818 5.25H0.459793V6.75Z"
                fill="white"/>
            </svg>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
<script>
  $( function() {
    $( "#region" ).selectmenu();
  } );
</script>
