<header class="header">
  <div class="container">
    <div class="header__container">
      <a href="/"><img class="header__container-logo" src="./img/logo.png" alt=""></a>
      <ul class="list-reset header__container-nav">
        <li class="header__container-nav-item dropdown"><a href="">Каталог недвижимости</a>
          <div class="dropdown__menu">
              <div class="dropdown__menu-container">
                <ul class="list-reset dropdown__menu-main">
                  <li class="dropdown__menu-item"><a href="">Все квартиры</a></li>
                  <li class="dropdown__menu-item"><a href="">Квартиры в новостройке</a></li>
                  <li class="dropdown__menu-item"><a href="">Квартиры во вторичке</a></li>
                  <li class="dropdown__menu-item"><a href="">Акции и скидки</a></li>
                </ul>
                <ul class="list-reset dropdown__menu-other">
                  <li class="dropdown__menu-item"><a href="">Квартиры студии</a></li>
                  <li class="dropdown__menu-item"><a href="">1-комнатные квартиры</a></li>
                  <li class="dropdown__menu-item"><a href="">2-комнатные квартиры</a></li>
                  <li class="dropdown__menu-item"><a href="">3-комнатные квартиры</a></li>
                  <li class="dropdown__menu-item"><a href="">4-комнатные квартиры</a></li>
                  <li class="dropdown__menu-item"><a href="">Квартиры в Воронеже</a></li>
                </ul>
                <ul class="list-reset dropdown__menu-other">
                  <li class="dropdown__menu-item"><a href="">Квартиры на правом берегу</a></li>
                  <li class="dropdown__menu-item"><a href="">Квартиры на левом берегу</a></li>
                  <li class="dropdown__menu-item"><a href="">Квартиры в Железнодорожном р-не</a></li>
                  <li class="dropdown__menu-item"><a href="">Квартиры в Советском р-не</a></li>
                  <li class="dropdown__menu-item"><a href="">Квартиры в Ленинском р-не</a></li>
                  <li class="dropdown__menu-item"><a href="">Квартиры в Коминтерновском р-не</a></li>
                </ul>
              </div>
          </div>
        </li>
        <li class="header__container-nav-item"><a href="">Ипотека</a></li>
        <li class="header__container-nav-item"><a href="">О нас</a></li>
        <li class="header__container-nav-item"><a href="">Карьера</a></li>
        <li class="header__container-nav-item"><a href="">Отзывы</a></li>
        <li class="header__container-nav-item"><a href="">Вакансии</a></li>
        <li class="header__container-nav-item"><a href="">Прочее</a></li>

      </ul>
      <button class="btn-reset btn">Офисы и контакты</button>
    </div>
  </div>
</header>

